h3 {
  color: black;
  text-align: center;
  
  font-weight: lighter;
  padding-top: 20px; }

h3:after {
  content: "";
  display: block;
  text-align: center;
  width: 100px;
  height: 1px;
  background-color: black;
  filter: grayscale(90%);
  margin: 0 auto; }

.fa {
  color: #fff; }

.all_headers, .doc-header {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.all_headers_overlay, .doc-header .header-overlay {
  padding-top: 150px;
  height: inherit;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  opacity: .9; }

.h3_nobtt {
  border: none; }

.three, .three-divs {
  width: 100%;
  height: 300px;
  margin: 10px 50px; }

.ones, .three-divs .div-1, .three-divs .div-2, .three-divs .div-3 {
  width: 30%;
  height: inherit;
  padding: 80px 5px;
  float: left; }

.all_btns, .doc-header .header-overlay .btn-click {
  width: 30%;
  text-align: center;
  margin: 0 auto; }

.doc-header {
  background-image: url(../../img/myya_doc.jpg); }
  .doc-header .header-overlay h3 {
    
    text-transform: uppercase;
    color: #fff;
    font-size: 35px; }
  .doc-header .header-overlay h3:after {
    width: 0;
    height: 0; }
  .doc-header .header-overlay h5 {
    
    color: #fff; }
  .doc-header .header-overlay .btn-click button {
    background-color: black;
    color: #fff;
    border: 2px solid #fff; }

.three-divs {
  margin-bottom: 50px; }
  .three-divs .div-1, .three-divs .div-2, .three-divs .div-3 {
    margin-right: 20px;
    text-align: center; }
    .three-divs .div-1 .fa, .three-divs .div-2 .fa, .three-divs .div-3 .fa {
      width: 100px;
      height: 100px;
      color: black;
      text-align: center;
      margin: 0 auto;
      font-size: 30px;
      border: 1px solid black;
      padding-top: 30px;
      border-radius: 100px; }
    .three-divs .div-1 .lorems, .three-divs .div-2 .lorems, .three-divs .div-3 .lorems {
       }

.other-lorem {
  height: 600px -200;
  width: 100%;
  text-align: center;
  margin: 10px 40px;
  
  margin-bottom: 40px; }
  .other-lorem .lorem-header {
    width: 70%;
    margin: 0 auto; }

.four-divs {
  height: 450px;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  padding-left: 70px;
  background-color: darkseagreen;
  filter: grayscale(100%); }
  .four-divs .first-div, .four-divs .second-div, .four-divs .third-div, .four-divs .fourth-div {
    height: inherit;
    width: 22%;
    color: #fff;
    float: left;
    text-align: center;
    margin-right: 20px;
    padding: 0; }
    .four-divs .first-div h3, .four-divs .second-div h3, .four-divs .third-div h3, .four-divs .fourth-div h3 {
      font-size: 20px;
      color: #fff; }
    .four-divs .first-div h3:after, .four-divs .second-div h3:after, .four-divs .third-div h3:after, .four-divs .fourth-div h3:after {
      width: 0;
      height: 0; }
    .four-divs .first-div p, .four-divs .second-div p, .four-divs .third-div p, .four-divs .fourth-div p {
      text-align: justify;
      font-size: 15px;
      
      color: #fff; }
    .four-divs .first-div button, .four-divs .second-div button, .four-divs .third-div button, .four-divs .fourth-div button {
      height: 50px;
      width: 180px;
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff; }
    .four-divs .first-div button:hover, .four-divs .second-div button:hover, .four-divs .third-div button:hover, .four-divs .fourth-div button:hover {
      background-color: black;
      color: #fff;
      font-weight: bolder;
      border: none; }

@media screen and (max-width: 600px) {
  .doc-header {
    height: 450px;
    background-position: center; }
    .doc-header .header-overlay {
      padding-top: 20px; }
      .doc-header .header-overlay .btn-click {
        width: 70%; }
        .doc-header .header-overlay .btn-click button {
          margin-top: 40px; }

  .three-divs {
    height: 800px;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 30px; }
    .three-divs .div-1, .three-divs .div-2, .three-divs .div-3 {
      height: 250px;
      width: 100%;
      padding: 0;
      margin: 0; }

  section.other-lorem {
    margin-bottom: 50px; } }

/*# sourceMappingURL=document.css.map */
